version: "3"
services:
  ngrok-tails-server:
    image: ngrok/ngrok
    networks:
      - tails-server
    ports:
      - 4044:4040
    command: start --all
    environment:
      - NGROK_CONFIG=/etc/ngrok.yml
      - NGROK_AUTHTOKEN=${NGROK_AUTHTOKEN}
    volumes:
      - ./ngrok.yml:/etc/ngrok.yml
  tails-server:
    build:
      context: ..
      dockerfile: docker/Dockerfile.tails-server
    ports:
      - 6543:6543
    networks:
      - tails-server
    command: >
      tails-server
        --host 0.0.0.0
        --port 6543
        --storage-path $STORAGE_PATH
        --log-level $LOG_LEVEL
  tester:
    build:
      context: ..
      dockerfile: docker/Dockerfile.test
networks:
  tails-server:
