name: bcgov/indy-tails-server - Publish Image

on: 
  release:
    types: [published]

env:
  PLATFORMS: ${{ inputs.platforms || 'linux/amd64,linux/arm64' }}

# Ensure only the most recent workflow runs.
concurrency:
  group: von-network
  cancel-in-progress: true

jobs:
  publish_to_ghcr:
    name: Publish image to ghcr.io
    runs-on: ubuntu-latest
    steps:
      - name: Check out
        uses: actions/checkout@v5

      - name: Lowercase repo owner
        id: lowercase_repo_owner
        uses: ASzc/change-string-case-action@v6
        with:
          string: ${{ github.repository_owner }}

      - name: Setup Image Metadata
        id: meta
        uses: docker/metadata-action@v5
        with:
          # list of Docker images to use as base name for tags
          images: |
            ghcr.io/${{ steps.lowercase_repo_owner.outputs.lowercase }}/tails-server
          # generate Docker tags based on the following events/attributes
          tags: |
            type=schedule
            type=ref,event=branch
            type=ref,event=pr
            type=semver,pattern={{version}}
            type=semver,pattern={{major}}.{{minor}}
            type=semver,pattern={{major}}
            type=sha

      - name: Log in to the GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Build and Push to Docker ghcr.io
        uses: docker/build-push-action@v6
        with:
          push: true
          file: docker/Dockerfile.tails-server
          context: .
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}
          platforms: ${{ env.PLATFORMS }}